<?xml version="1.0"?>
<launch>
  <arg name="autonomous" value="false" />.

  <!-- /dev/ttyUSB0 IMU -->
  <node pkg="xbow440" type="xbow440_node" name="vg440" >
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baudrate" value="38400" />
  </node>

  <!-- /dev/ttyUSB1 JAVAD -->
  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="javad" ns="javad" >
    <param name="port" value="/dev/ttyUSB1" />
    <param name="baud" value="115200" />
  </node>

  <!-- /dev/ttyUSB2 CNT723 -->
  <include file="$(find cnt723)/launch/cnt723_node.launch" />

  <!-- /dev/ttyUSB4 ssv102 -->
  <include file="$(find ssv102)/launch/ssv102_node.launch" ns="ssv102" />

  <!-- /dev/ttyACM0 URG -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="urg" >
    <param name="port" value="/dev/ttyACM0" />
    <remap from="scan" to="urg_scan" />
  </node>

  <!-- Ethernet port Velodyne -->
  <include file="$(find velodyne_pointcloud)/launch/32e_points.launch" />

  <group if="$(arg autonomous)">
    <!-- /dev/ttyUSB3 Steering actuator -->
    <include file="$(find coms_steering)/launch/coms_steering_node.launch" />

    <!-- /dev/ttyACM1 mbed -->
    <include file="$(find gear_a_b_mbed)/launch/coms.launch" />
  </group>
</launch>
