<?xml version="1.0"?>
<launch>
  <arg name="autonomous" value="$(optenv COMS_AUTONOMOUS_ENABLED false)" />.

  <!-- /dev/ttyUSB0 IMU -->
  <node pkg="xbow440" type="xbow440_node" name="vg440" >
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baudrate" value="38400" />
    <param name="frame_id" value="vg440" />
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_vg440" args="-0.5 0 0.3 0 0 3.14159265358979 base_link vg440" />

  <!-- /dev/ttyUSB1 JAVAD -->
  <include file="$(find javad_delta)/launch/javad_delta_node.launch" ns="javad" />

  <!-- /dev/ttyUSB2 CNT723 -->
  <include file="$(find cnt723)/launch/cnt723_node.launch" />

  <!-- /dev/ttyUSB4 ssv102 -->
  <include file="$(find ssv102)/launch/ssv102_node.launch" ns="ssv102" />

  <!-- /dev/ttyACM0 URG -->
  <node pkg="hokuyo_node" type="hokuyo_node" name="urg" >
    <param name="port" value="/dev/ttyACM0" />
    <remap from="scan" to="urg_scan" />
  </node>

  <!-- Ethernet port Velodyne -->
  <include file="$(find velodyne_pointcloud)/launch/32e_points.launch" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_velodyne" args="0 0 0 -1.57079632675 0 0 base_link velodyne" />

  <!-- Odometry -->
  <group>
    <remap from="/imu" to="/vg440/imu/data" />
    <remap from="/encoder" to="/cnt723/count" />
    <include file="$(find coms_odom)/launch/coms_odom_node.launch" />
  </group>
</launch>
